---
layout: page
title: "Visualizing sklearn contest on kaggle"
description: ""
---

<div id="vis" class="parcoords" style="width:360px;height:150px"></div>


<!--
mu:    <span data-var="mu" data-step="0.02" data-format="%.2f" class="TKAdjustableNumber "> </span>
sigma: <span data-var="sigma" data-step="0.02" data-format="%.2f" class="TKAdjustableNumber "> </span>
sin scale: <span data-var="sinYscale" data-step="0.02" data-format="%.2f" class="TKAdjustableNumber "> </span>
{% include nv.d3 %}
{% include tangle %}
-->





{% include d3 %}
<link rel="stylesheet" href="/assets/css/d3.parcoords.css" type="text/css" />


<script type="text/javascript" src="/assets/js/d3.parcoords.js"> </script>
<script type="text/javascript" src="vis.js"> </script>


{% include JB/setup %}
