<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->

<!-- Toggleable sidebar
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
-->

<nav class="navbar">
  <div class="masthead container-fluid">
  <div class="container">
    <div class="navbar-header">
      <h1 class="masthead-title">
      <a class="navbar-brand" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
      </h1>
      <small>{{ site.tagline }}</small>
    </div>
    <a href="{{ site.baseurl }}/" class="navbar-left"><img class="logo img-responsive img-circle" src="/assets/me_small.jpg" alt="Michael"></a>
    <ul class="nav navbar-nav navbar-right">
    {% comment %}
        This would include a home link but my name does that well enough.
        <li role="presentation" class="{% if page.url == site.baseurl %} active{% endif %}"><a href="{{ site.baseurl }}">Home</a></li>
    {% endcomment %}

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"navbar_id" %}
    {% for node in pages_list %}
      {% if node.title != null and node.navbar_id >= 0 %}
        {% if node.layout == "page" %}
          <li role="presentation" class="{% if page.url == node.url %} active{% endif %}"><a href="{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% comment %}
        Manually added navbar items...
    {% endcomment %}

          <li role="presentation"><a href="{{site.cv_url}}">CV</a></li>

    </ul>
  </div>
  </div>
</nav>

</div>
